body{

	background-image: url(../images/bi.jpg ) ;
	backface-visibility: visible;
    background-size: cover;
    background-repeat: no-repeat;
	
	
	
}

/*header*/
li {
	list-style: none ;
	float: right;

}


li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
li a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(163, 6, 6);
  }
  
li.dropdown {
	display: inline-block;
  }
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: small;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	color: white;
	display: block;
	text-align: left;
  }
  
.dropdown-content a:hover {
	background-color: #f1f1f1;
	 color: black;
	
}
  
.dropdown:hover .dropdown-content {
	display: block;
	background: linear-gradient(rgb(22, 224, 180),blue);
	
	
  }

.lic{
	font-size:large;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	top: 30px;
	position:absolute;
	left: 110px;
	color: antiquewhite;
}
.logo{
	float: left;
	
}
.links{
	text-decoration: none;
	color: rgb(108, 224, 209);
	display: block;
	padding: 18px;
	margin: 5px;
	font-size: 28px ;
	position: relative;
    top: 15px;
    transition: background-color 0.9s;
	border-radius: 25px;
	border-style:unset;
}
.links2
{
	text-decoration: none;
	color: rgb(253, 253, 253);
	display: block;
	padding: 18px;
	font-size: 25px ;
	position: relative;
    top: 12px;
    transition: background-color 0.9s;
	border-radius: 45px;
}
.links:hover
{  
	background-color: rgb(143, 39, 53);
	color: rgb(255, 255, 255);
	
}
.links2:hover{
	background-color: rgb(8, 184, 238);
	color: rgb(255, 255, 255);
}

nav {
	overflow :hidden ;
	background-color: rgb(20, 22, 121);


}
*{ margin: 0px;
	padding: 0px;
}

.a{
    position: relative;
    font-size:60px;
    color: red;
    text-shadow: 0 2.5px 0 rgb(233, 28, 171);
}
.a1{
    position: relative;
    color: darkgrey;
}
.b{
    position: relative;
    top: 20px;

    font-size:40px;
    color: blue;
    text-shadow: 0 2px 0 rgb(6, 240, 84);
}

.b1{
    
    position: relative;
	
	text-align: center;
	font-family: g;
    border-radius: 10px;
	opacity:initial;
    top: 35px;
    font-size: 25px;
    color: rgb(9, 12, 12);
    
}

.c{
	position: relative;
    top: 43px;
	
    font-size:40px;
    color: blue;
    text-shadow: 0 2px 0 rgb(6, 240, 84);
}
table{
    
	border-radius: 10px;
	background:linear-gradient(90deg, rgb(53, 195, 238),rgb(243, 101, 101) );
    box-shadow: inset 0 3px 0 orangered;
	padding: 5px;
	vertical-align: middle;
	border-bottom: 1px solid;
	height: 5px;
	
   
	
}
.td2{
	color: rgb(0, 25, 248);
}
.tbl2{
	position: relative;
	top: 100px;
	table-layout: auto;
	font-size: x-large;
	color:rgb(5, 5, 5);
   
}
button{
    position: relative;
    width: 1300px;
    top: 70px;
    height: 40px;
    font-size: large;
    letter-spacing: 2px;
    word-spacing: 5px;
	background: linear-gradient(110deg,pink,rgb(20, 206, 159));
	border-radius: 10px;
    


}
button:hover{
	background: linear-gradient(110deg,rgb(20, 206, 159),pink);

}

.d{
    position: relative;
    font-size: x-large;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 220px;
    color: rgb(0, 0, 0);
   
    
}
.d1{
    position: relative;
    font-size: xx-large;
    top: 210px;
    color: rgb(223, 75, 16);
    text-shadow: 0 2px 0 black;
    background-color: rgb(216, 215, 228);
    border-radius: 100px;
    width: 500px;
}

















/*footer*/

.footer{
    position: relative;
	height: 270px;
    top: 250px;
	bottom: 0%;
	background-color:darkslategray;
	display: block;
	width: 100%;
} 
hr{
	height: 3px;
}
.cu{
	text-decoration: underline;
	color: white;
	position: absolute;
	top: 10px;
	left: 20px;
}
.cu:hover{
	color: black;
}
.location{
	position: absolute;
	top: 70px;
	bottom: 50px;
	left: 50px;
}
.h3location{
	color: white;
	position: absolute;
	font-family: Arial, Helvetica, Arial, sans-serif ;
	font-size: medium;
	top: 70px;
	bottom: 50px;
	left: 100px;

}   
.email{
	position: absolute;
	top: 156px;
    left: 50px;
}
.h3email{
	color: white;
	position: absolute;
	font-family: Arial, Helvetica, Arial, sans-serif ;
	font-size: medium;
	top: 165px;
	bottom: 50px;
	left: 100px
}
.phone{
	position: absolute;
	top: 220px;
    left: 50px;
}
.h3phone{
	color: white;
	position: absolute;
	font-family: Arial, Helvetica, Arial, sans-serif ;
	font-size: medium;
	top: 230px;
	bottom: 50px;
	left: 100px;
}
.footerlogo{
	position: absolute;
	top: 45px;
    left: 600px;
}
.fu{
	text-decoration: underline;
	color: white;
	position: absolute;
	top: 13px;
	right: 250px;
}
.fu:hover{
	color: black;
}
.fb{
	position: absolute;
	top: 100px;
	bottom: 50px;
	right:  300px;
}
.tt{
	position: absolute;
	top: 100px;
	bottom: 50px;
	right:  210px;
}
.insta{
	position: absolute;
	top: 100px;
	bottom: 50px;
	right:  120px;}
.copy{
	position: absolute;
	color: white;
	position: absolute;
	font-family: Arial, Helvetica, Arial, sans-serif ;
	font-size: medium;
	top: 240px;
	right: 20px;
}
